[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
spacy = "*"
nltk = "*"
sentence-transformers = "*"
scikit-learn = "*"
transformers = "*"
torch = "*"

en-core-web-md = {file = "https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl"}

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.5"